*{
    margin: 0;
    padding: 0;}

    div{
        box-sizing: border-box;
        height: 200px;
        width: 200px;
    }
.cajita1{
    align-items: center;
    background-color: orange;
    width: 10rem;
    height: 10rem;
    border: 1px solid black;

}
.cajita2   {

    width: 20rem;
    height: 20rem;
    background-color: red;
border: 1px solid black;
}